<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcore.ruler">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ruler"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MeasureActivity"
            android:label="@string/activity_measure_label">
        </activity>

        <activity android:name=".LocateActivity"
            android:label="@string/activity_locate_label">
        </activity>

        <!--<activity android:name=".GalleryActivity"-->
            <!--android:label="@string/activity_gallery_label">-->
        <!--</activity>-->
        <meta-data android:name="com.google.ar.core" android:value="required"/>
    </application>

</manifest>